
<div >
<% if @user.present? %>
 <table class="table table-borderless table-hover">
  <thead class="thead-dark">
    <tr>
      
      <th>Name</th>
      <th>Batch</th>
      <th>Degree</th>
      <th>Register number</th>
      <th>Email</th>
      

      <% if current_user.admin? %>
      <th>Role</th>
      <th>Delete</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    
    <% @user.each do |user| %> 
      <tr>
        
        <td><b><%= link_to "#{user.full_name}" , user_path(user.id), class: "no-decoration" %></b></td>
        <td><%= user.batch %></td>
        <td><%= user.degree %></td>
        <td><%= user.register_number %></td>
        <td><%= user.email %></td>
       
        <% if current_user.admin? %>
           <% if user.deleted? %>
             <td><div class="badge badge-danger">Deleted</div></td>
           <% else %>
              <td><div class="badge badge-<%= user.admin? ? 'primary' : 'warning'  %>"><%= user.title %></div> <div class="badge badge-<%= user.active? ? 'success' : 'danger'  %>"><%= user.status %></div></td>
          <% end %>
          <% if user.admin? %>
              <% if current_user == user %>
                <td></td>
              <% else %>
                <% if user.deleted? %>
                    <td><%= link_to 'Restore', restore_user_path(user.id), class:"btn btn-warning", method: :post, data: { confirm: 'Are you sure?' }%></td>
                <% else %>
                    <td><%= link_to 'Delete', user_path(user.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }%></td>
                <% end %>
              <% end %>
          <% else %>
            <% if user.deleted? %>
                    <td><%= link_to 'Restore', restore_user_path(user.id), class:"btn btn-warning", method: :post, data: { confirm: 'Are you sure?' }%></td>
                <% else %>
                    <td><%= link_to 'Delete', user_path(user.id), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }%></td>
                <% end %>
          <% end %>
        <% end %> 
      </tr>
     <% end %>
  </tbody>
</table>
<% end %>




</div>


