<div class="button-inline">
<div class="float-left">
<table class="table table-borderless">
<tr><td><b>First name</b> </td><td> <%= @user.first_name %></td></tr>
<tr><td><b>Last name</b> </td><td> <%= @user.last_name %></td></tr>
<tr><td><b>Mobile number</b> </td><td> <%= @user.mobile_number %></td></tr>
<tr><td><b>Age</b> </td><td> <%= @user.age %></td></tr>
<tr><td><b>Batch</b> </td><td> <%= @user.batch %></td></tr>
<tr><td><b>Degree</b> </td><td> <%= @user.degree %></td></tr>
<tr><td><b>College name</b> </td><td>  <%= @user.college_name %></td></tr>
<tr><td><b>Register number</b> </td><td> <%= @user.register_number %></td></tr>
<tr><td><b>Company name</b> </td><td> <%= @user.company_name %></td></tr>
<tr><td><b>Designation</b> </td><td> <%= @user.designation %></td></tr>
<tr><td><b>Location</b> </td><td> <%= @user.location %></td></tr>
<tr><td><b>Email</b> </td><td> <%= @user.email %></td></tr>
</table>
<h3><%= link_to 'Edit', edit_user_path(current_user.id), class:"btn btn-warning" %></h3>

</div>
</div>
<div class="float-right" style="margin-right: 40%">
<%= render partial: "following" %>
<%= render partial: "follower" %>
</div>




