<!DOCTYPE html>
<html>
<head>
  <title>Coding-Club-Brogrammers</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  
</head>

<body>


<%= render 'layouts/headernav'%>
<%= render 'layouts/flash'%>

<%= yield %>

<%= render 'layouts/footer'%>
</body>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
    $('.alert').fadeOut();
    }, 5000);
  })
</script>
</html>
